/* 重置默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 导航栏样式 */
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* 使容器至少占据视口高度 */
    margin-top: -50px; /* 调整以防止与导航栏重叠 */
}

.title {
    text-align: center;
    margin-top: 50px; /* 调整与导航栏的距离 */
    font-size: 50px;
}
